* {
    margin: auto;
}

body {
    background-color: #f5ebdc;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 10vmin;
    display: flex;
    margin-top: auto;
    margin-bottom: 50px;
    color: #5e4328;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

div {
    display: flex;
    justify-content: space-between;
}

td {
    text-align: center;
    background-color: #BA7A3A;
    width: 7vmin;
    height: 7vmin;
    /* border-style: solid;
    border-color: black; */
}

.ls {
    background-color: #e4d8ca
}

.ds {
    background-color: #705039;
}

.black {
    background-color: black;
}
.black, .red {
    height: 5vmin;
    width: 5vmin;
    border-radius: 100%;
    border-style: solid;
    border-color: white;
    pointer-events: none;
}

.red {
    background-color: red;
} 

.play-again-btn {
    display: flex;
    margin-top: 50px;
    padding: 2vmin 2vmin;
    border: solid;
    border-radius: 1vmin;
    border-color: black;
    color: #964B00;
    cursor: pointer;
    font-size: 2vmin;
    text-transform: uppercase;
    font-weight: bold;
}

.button {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

.message {
    display: flex;
    margin: auto;
    height: 4vmin;
}