* {
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightslategrey;
}

h1 {
    font-size: 10vmin;
    display: flex;
    margin-top: auto;
    margin-bottom: 50px;
}

div {
    display: flex;
    justify-content: space-between;
}

td {
    text-align: center;
    background-color: #BA7A3A;
    width: 7vmin;
    height: 7vmin;
}

.ls {
    background-color: #e4d8ca
}

.ds {
    background-color: #705039;
}

.black {
    background-color: black;
}
.black, .red {
    height: 5vmin;
    width: 5vmin;
    border-radius: 100%;
    border-style: solid;
    border-color: white;
}

.red {
    background-color: red;
} 

.play-again-btn {
    display: flex;
    margin-top: 50px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    color:blueviolet;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.button {
    display: flex;
    justify-content: center;
}